In [187]:
import numpy as np
import pandas as pd

In [188]:
housing = pd.read_csv('data/Ames_Housing_Price_Data.csv', index_col=0)
housing.shape

(2580, 81)

In [189]:
housing['PID'].value_counts()

909276070    2
532351060    1
903456110    1
903202170    1
907253110    1
            ..
534129370    1
528477070    1
535403150    1
527190050    1
533250050    1
Name: PID, Length: 2579, dtype: int64

In [190]:
realestate = pd.read_csv('data/Ames_Real_Estate_Data.csv')
realestate.shape

(22213, 91)

In [191]:
realestate = realestate.rename(columns = {'MapRefNo':'PID'})

In [192]:
realestate['PID'].value_counts()

907460020    334
916482001    294
915225025    222
910477010    216
910251020    198
            ...
903231040      1
532354200      1
923100310      1
906402180      1
902103040      1
Name: PID, Length: 14235, dtype: int64

In [193]:
# find how many PIDS from housing are NOT in real estate

realestatePID_lst = realestate["PID"].tolist()
housingPID_lst = housing["PID"].tolist()

not_in_re = []
for a in housingPID_lst:
    if a not in realestatePID_lst:
        not_in_re.append(a)
        
len(not_in_re)

21

In [194]:
# list of PIDs from the housing data that are NOT in real estate -- can't get addresses for these
not_in_re

[531477050,
 916253320,
 535300120,
 902205010,
 902477120,
 909129100,
 916252170,
 535426150,
 904101170,
 907230240,
 902401130,
 916477060,
 911175360,
 902103150,
 916403040,
 902401120,
 923125030,
 908154040,
 912251110,
 905450020,
 902205020]

In [195]:
# merge lines with same PID and LotArea
merged_df = housing.merge(realestate, how='inner', left_on=["PID", "LotArea"], right_on=["PID","LotArea"])
# merged_df = housing.merge(realestate, how='inner', left_on=["PID", "LotArea"], right_on=["PID","LotArea"])

In [196]:
merged_df.shape

(2574, 170)

In [197]:
# 2529 unique PIDs
merged_df['PID'].value_counts()

528106020    3
923226300    3
527451640    2
535402070    2
907412020    2
            ..
535476360    1
528358010    1
535104120    1
906392070    1
533250050    1
Name: PID, Length: 2529, dtype: int64

In [198]:
# 42 Prop_Addr have value counts greater than 1
merged_df['Prop_Addr'].value_counts().reset_index(name="count").query("count > 1")["index"]

0           3324 STOCKBURY ST
1               609 MEADOW PL
2           4923 HEMINGWAY DR
3               548 MEADOW CT
4               201 E 13TH ST
5                1115 28TH ST
6                3416 WEST ST
7            1217 CURTISS AVE
8             208 S MAPLE AVE
9              2629 STANGE RD
10               1819 24TH ST
11               302 OPAL CIR
12       1461 BRECKINRIDGE CT
13              205 DOTSON DR
14              3618 MARY CIR
15                622 11TH ST
16              1412 DUFF AVE
17              540 MEADOW CT
18             2719 LAUREL ST
19            123 N MAPLE AVE
20            2022 GREELEY ST
21             4915 WALLER ST
22            2203 JENSEN AVE
23            4015 TORONTO ST
24          4009 BRICKMAN AVE
25              716 HODGE AVE
26           1320 INDIANA AVE
27           1909 MAXWELL AVE
28          2607 YORKSHIRE ST
29               1410 16TH ST
30    4008 FRANCES E DAVIS CT
31          2317 FERNDALE AVE
32         1310 WOODSTOCK AVE
33                314 12TH ST
34             5513 DURANT ST
35         4028 FLETCHER BLVD
36           3603 WOODLAND ST
37               2220 ASH AVE
38              118 E 11TH ST
39              5421 FROST DR
40             119 CHERRY AVE
41            1139 JOHNSON ST
42         102 N RIVERSIDE DR
Name: index, dtype: object

In [199]:
# 42 PIDs have value counts greater than 1
merged_df['PID'].value_counts().reset_index(name="count").query("count > 1")["index"]

0     528106020
1     923226300
2     527451640
3     535402070
4     907412020
5     528235010
6     527214060
7     911225110
8     535151040
9     923225360
10    533212020
11    905402070
12    535450210
13    914452190
14    909276070
15    531452050
16    905402110
17    528439040
18    905476230
19    902128020
20    902206020
21    527145090
22    534125210
23    907252060
24    527455250
25    906385020
26    902106010
27    903225040
28    903429110
29    923225390
30    908127040
31    907135040
32    910226060
33    909452102
34    532376250
35    527454200
36    534455030
37    903458060
38    903456090
39    535455080
40    528220040
41    532353130
42    534276010
Name: index, dtype: int64

In [200]:
# drop duplicate rows that are identical
merged_df = merged_df.drop_duplicates()

In [201]:
merged_df.shape

(2573, 170)

In [202]:
# drop duplicate rows with same PID; keep first
merged_df = merged_df.drop_duplicates(subset='PID', keep="first")

In [203]:
merged_df.shape

(2529, 170)

In [204]:
# check which PIDs from housing didn't make it into merged
mergedPID_lst = merged_df["PID"].tolist()
housingPID_lst = housing["PID"].tolist()

not_in_merged = []
for a in housingPID_lst:
    if a not in mergedPID_lst:
        not_in_merged.append(a)
print(not_in_merged)

[909176170, 528164060, 531477050, 916253320, 903454010, 535353130, 902325100, 906426060, 909275040, 905425125, 535300120, 902205010, 902477120, 909129100, 916252170, 903235100, 903454020, 923202137, 907280040, 527276040, 535426150, 910206010, 903401020, 534478140, 904101170, 534450180, 907230240, 902401130, 535454100, 534403410, 903400220, 916477060, 911104060, 911175360, 535378020, 534129040, 902103150, 903427120, 916403040, 902206090, 902401120, 923125030, 908154040, 903231060, 912251110, 909280070, 535303030, 905450020, 902205020, 535425070]

In [205]:
# 50 PIDs from housing aren't in merged list
# these are PIDs for which there wasn't a matching PID/LotArea in the real estate data
len(not_in_merged)

50

In [206]:
# select rows from housing that weren't in merged
not_in_merged_df = housing[housing['PID'].isin(not_in_merged)]

In [207]:
not_in_merged_df.shape

(50, 81)

In [208]:
# now merge these rows to the main df -- they just won't have the data from the realestate df

In [209]:
final_df = pd.merge(merged_df, not_in_merged_df, how='outer')

In [210]:
final_df.shape

(2579, 184)

In [211]:
final_df.to_csv('final_df.csv', index=False)